<section class="nav-bg">
    <a href="https://SiteStates.com" title="站長工具" style="display: none;">
      <img src="https://SiteStates.com/show/image/33556.jpg" border="0" />
    </a>
    <input type="checkbox" id="menu-switch">
    <header class="main-header">
      <div class="logo">
        <a href="/">
          TCRS
        </a>
      </div>
      <label for="menu-switch" class="hb icon">
        <i class='bx bx-menu open'></i>
        <i class='bx bx-x close'></i>
      </label>
      <nav class="main-nav">
        <a class="click" href="/"><i class='bx bx-home-alt-2'></i> 首頁</a>
        <a class="click" href="/players"><i class='bx bx-trophy mr-1'></i> 生涯紀錄</a>
        <a class="click" href="/players/leaderboard"><i class='bx bx-bar-chart-alt-2 mr-1'></i> 天梯紀錄</a>
        <a class="click" href="/players/badges"><i class='bx bx-badge-check mr-1'></i> 徽章紀錄</a>
        <a class="click" href="/players/pathoflegend/Rankings"><i class='bx bx-crown mr-1'></i> 分析圖表</a>
        <a class="click" href="/users/profile"><% if (user) { %><i class='bx bx-smile'></i> 關於我<% } else { %><i class='bx bx-ghost'></i> 登入<% } %></a>
      </nav>
    </header>
  </section>